body {
	font-size: 20px;
}

//--------------------------------Header----------------------------------------//
#header {
	background: url(/img/Layer%2025.jpg) no-repeat center center;
	background-size: cover;
	height: 100%;
	.container-fluid {
		.row {
			.nav {
				padding: 60px 50px;
				.logo {
					display: inline-block;
					img {}
				}
				.menu {
					float: right;
					ul {
						list-style-type: none;
						a {
							font-size: 1em;
							li {
								display: inline-block;
								color: white;
								padding: 10px 30px;
								text-transform: uppercase;
								font-weight: bold;
								&:hover {
									color: #313030;
								}
							}
						}
					}
				}
			}
			.name {
				padding: 32% 71% 14% 7%;
			}
		}
	}
}

//-------------------------------//Header---------------------------------------//
//--------------------------------features----------------------------------------//
#features {
	background: #a2ca28;
	.container {
		padding-top: 110px;
		.row {
			.box {
				color: white;
				margin-bottom: 118px;
				h2{
					
					padding: 20px 0 27px 0;
				}
				img {
					margin-bottom: 23px;
					color: red;
				}
				p {
					font-size: 18px;
					line-height: 30px;
					margin-bottom: 27px;
				}
				a {
					text-decoration: none;
					color: white;
				}
			}
		}
	}
}
//-------------------------------//features---------------------------------------//
//--------------------------------Others----------------------------------------//
//-------------------------------//Others---------------------------------------//
//--------------------------------photo----------------------------------------//
//-------------------------------//photo---------------------------------------//
//--------------------------------banner----------------------------------------//
//-------------------------------//banner---------------------------------------//
//--------------------------------footer----------------------------------------//
//-------------------------------//footer---------------------------------------//
//--------------------------------Others----------------------------------------//
//-------------------------------//Others---------------------------------------//
